/*estilo seccion call action*/
.fondo-call{
	background: url("../img/background/city.jpg");
	background-size: cover;
	height: 350px;
	background-repeat: no-repeat;	
}
/*estilos boton transparente*/
button{
	font-weight: bold;
	cursor: pointer;
	border: none;
}
button.btn-trans{
	padding: 2%;
	text-shadow: 1px 1px 3px #666666;
	opacity: 0.5;
}
/*parrafos de call action*/
.text-grande{
	font-size: 20px;
}

/*estilos seccion paquetes*/
/*texto paquetes*/
.text-gris{
	color: #515050;
	
}

/*col-4 paquetes*/
ul{
	margin: 3% 0;
	padding: 3%;
}
li{
	text-decoration: none;
	display: block;
	border-bottom: 1px solid #9C9C9C;
	padding: 5%;
}
.gray-fuerte{
	background-color: #4A4949;
}
.div-blanco{
	background-color: #fff;
	border: 1px solid #ACACAC;	
}
/*caja premium*/
.azul-caja{
	background-color: #0CC0BF;
}
/*boton purchase*/
button.btn-gris{
	padding: 4% 8%;
}

/*seccion customer*/
/*foto*/
.redondo{
	width: 10%;
	height: auto;
	border-radius: 100%;
}

/*seccion Contacto*/
input, textarea{
	color: #B9B9B9;
	margin: 2% 0;
	display: block;
}
.fondo-contacto{
	background: url("../img/background/contactus.jpg");
	background-size: 100% auto;
	height: 600px;
	background-repeat: no-repeat;	
	filter: brightness(0.5) contrast(1.4) grayscale(0.4);
}
