/*estilo seccion call action*/
.fondo-call{
	background: url("../img/background/city.jpg") rgba(255,255,255,.5);
	background-size: cover;
	height: 350px;
	background-repeat: no-repeat;	
}
/*estilos boton transparente*/
button.btn-trans{
	padding: 2%;
	
	border: none !important;
	font-weight: bold;
	cursor: pointer;
	background: rgba(255,255,255,.5);
}
/*parrafos de call action*/
.text-grande{
	font-size: 20px;
}

/*estilos seccion paquetes*/
/*texto paquetes*/
.text-gris{
	color: #515050;
	padding: 2%; 
}

/*col-4 paquetes*/
ul{
	margin: 3% 0;
	padding: 3%;
}
li{
	text-decoration: none;
	display: block;
	border-bottom: 1px solid #9C9C9C;
	padding: 5%;
}
.gray-fuerte{
	background-color: #4A4949;
}
.div-blanco{
	background-color: #fff;
	border: 1px solid #ACACAC;
	
}

	margin: 5% 6% 0 6%; 
